.payroll-container {
    padding: 20px;

    h1 {
        font-size: 22px;
    }

    h2{
        font-size: 15px;
    }

    select {
        width: 180px;
        height: 30px;
    }

    textarea {
        height: 200px;
        width: 80%;
    }

    .submit-button {
        backface-visibility: hidden;
        background-color: #405cf5;
        border-radius: 6px;
        border-width: 0;
        box-shadow: rgb(50 50 93 / 10%) 0 0 0 1px inset,rgb(50 50 93 / 10%) 0 2px 5px 0, rgb(0 0 0 / 7%) 0 1px 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size: 100%;
        height: 44px;
        line-height: 1.15;
        margin: 12px 0 0;
        overflow: hidden;
        padding: 0 25px;
        position: relative;
        text-align: center;
        transition: all .2s,box-shadow .08s ease-in;
        touch-action: manipulation;
        width: 80%;

        &:disabled {
            cursor: default;
        }

        &:focus {
            box-shadow: rgb(50 50 93 / 10%) 0 0 0 1px inset, rgba(50 50 93 / 20%) 0 6px 15px 0, rgb(0 0 0 / 10%) 0 2px 2px 0, rgb(50 151 211 / 30%) 0 0 0 4px;
        }
    }
}

